.background-image {
  background-image: url("../assets/img/background.png");
  background-size: 200vh, 200vw;
  background-repeat: no-repeat;

  /* background-size: cover; */
}

#question-container {
  display: grid;
  grid-template-columns: repeat(20, minmax(0, 12%));
  grid-template-rows: auto;

  /* background-color: #000000; */
}

#question-one {
  margin-top: 5em;
  grid-column-start: 5;
  grid-column-end: 12;
}

.btn {
  border: 2px solid black;
  background-color: Transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
 
/* Green */
.success {
  border-color: #ffffff;
  color: #ffffff;
}
.success:hover {
  background-color: #4CAF50;
  color: white;
}

.question {
  width: 50em;
  height: 15em;
}

.questions-button{
  margin-top: 5em;
  margin-left: 5em;
  grid-column-start: 5;
  grid-column-end: 12;
}

.questions-row-1{
  display: flex;
}

.answer{
  width: 25em;
  height: 15em;
}
